.chatbox {
  text-align: left;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
}

.box {
  width: 600px;
  height: 600px;
  border-bottom: 0;
}

.box-card {
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 15px 15px 0 0;
}

.box .box-title {
  border-bottom: 1px solid black;
  padding-top: 12px;
  padding-bottom: 0;
  background-color: rgb(161, 105, 224);
}

.button-close-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.box .box-text {
  padding-top: 0;
}

.message {
  min-height: 70px;
  padding: 8px;
  margin: 10px 0;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 15%) 5px 4px 2.6px;
}

.message-bot {
  margin-left: 20px;
  margin-right: 50px;
  background-color: rgb(161, 105, 224);
}

.message-user {
  text-align: right;
  margin-right: 20px;
  margin-left: 50px;
  background-color: rgb(130, 204, 223);
}

.message-infos {
  display: flex;
  justify-content: space-between;
}

.message-user .message-infos {
  flex-direction: row-reverse;
}

.message-sender {
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
}

.message-date {
  font-size: 0.8em;
}

.message-content {
  margin-top: 2px;
  padding-top: 5px;
  border-top: 1px solid black;
}

.message-answers {
  margin-top: 5px;
}

.message-answers.message-short {
  display: flex;
  justify-content: space-evenly;
}

.message-answers.message-long .message-answer:not(:last-child) {
  margin-bottom: 8px;
}

.message-answer {
  padding: 2px 7px;
  border-radius: 5px;
  font-weight: 600;
}

.message-answer:hover {
  cursor: pointer;
  text-decoration: underline;
}

.perfect-scrollbar {
  height: 480px;
}

.box-chat {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.message-text-bar {
  padding-top: 10px;
  border-top: 1px solid black;
}

.closed .box {
  height: 60px;
}

.closed .box .box-text {
  display: none;
}

.button-send-message {
  height: 125%;
  bottom: 12px;
}

.button-delete-box {
  left: 0;
}

.message-fade-enter-from:has(.message-bot) {
  width: 30%;
  font-size: 0em;
  opacity: 0;
}
.message-fade-enter-to:has(.message-bot) {
  width: 100%;
  font-size: 1em;
  opacity: 1;
}
.message-fade-enter-from:has(.message-user) {
  margin-left: 70%;
  width: 30%;
  font-size: 0em;
  opacity: 0;
}
.message-fade-enter-to:has(.message-user) {
  margin-left: 0;
  width: 100%;
  font-size: 1em;
  opacity: 1;
}
.message-fade-enter-active {
  transition: all 1.5s ease;
}