
<section class="chatbox" :class="display === false ? 'closed': 'open'">
  <div class="box">
    <v-card
      class="box-card"
      variant="tonal">
      <v-card-title class="box-title">
        <button v-on:click="closeOrOpenChatbox()" class="button-close-box">
          <div>
            FTSH Bot
          </div>
          <button v-on:click="deleteChatbox()" class="button-delete-box">
            <svg-icon type="mdi" :path="pathCloseIcon"></svg-icon>
          </button>
        </button>
      </v-card-title>
      <v-card-text class="box-text">
        <div class="box-chat">
          <perfect-scrollbar class="perfect-scrollbar">
          <div v-for="message in messages">
            <div class="message" :class="message.sender === 'Bot' ? 'message-bot' : 'message-user'" :ref="'bottom' + message.id">
              <div class="message-infos">
                <div class="message-sender">
                  {{ message.sender }}
                </div>
                <div class="message-date">
                  {{ message.date }}
                </div>
              </div>
              <div class="message-content">
                {{ message.content }}
              </div>
              <div class="message-answers" :class="message.answersAreLong ? 'message-long' : 'message-short'">
                <button v-on:click="submitAnswer(answer)" class="message-answer" v-for="answer in message.answers">
                  {{ answer.title }}
                </button>
              </div>
            </div>
          </div>
          </perfect-scrollbar>
        </div>
        <div class="message-text-bar">
          <v-form validate-on="submit" @submit.prevent="sendMessage">
            <v-text-field
              label="Write your message here"
              hide-details="auto"
              v-model="messageText">
              <template v-slot:append>
                <v-btn type="submit" class="button-send-message">
                  <svg-icon type="mdi" :path="pathSendIcon"></svg-icon>
                </v-btn>
              </template>
            </v-text-field>
          </v-form>
        </div>
      </v-card-text>
    </v-card>
  </div>
</section>

