
<section class="chatbox">
  <Transition name="chat-box">
    <div v-if="showBox" class="box">
      <v-card
        class="box-card"
        variant="tonal">
        <v-card-title class="box-title">
          <button v-on:click="closeChatbox()" class="button-close-box">
            <div>
              FTSH Bot
            </div>
            <svg-icon type="mdi" :path="pathCloseIcon"></svg-icon>
          </button>
        </v-card-title>
        <v-card-text class="box-text">
          <div class="box-chat">
            <perfect-scrollbar class="perfect-scrollbar">
              <TransitionGroup name="message-fade" class="transition-message-fade">
                <div v-for="message in messages" :key="message">
                  <div
                    class="message"
                    :class="message.sender === 'Bot' ? 'message-bot' : 'message-user'"
                    :ref="'bottom' + message.id">
                    <div class="message-infos">
                      <div class="message-sender">
                        {{ message.sender }}
                      </div>
                      <div class="message-date">
                        {{ message.date }}
                      </div>
                    </div>
                    <div class="message-content">
                      {{ message.content }}
                    </div>
                    <div class="message-answers"
                      :class="message.answersAreLong ? 'message-long' : 'message-short'">
                      <button
                        v-on:click="submitAnswer(answer)"
                        class="message-answer"
                        v-for="answer in message.answers">
                        {{ answer.title }}
                      </button>
                    </div>
                  </div>
                </div>
              </TransitionGroup>
            </perfect-scrollbar>
          </div>
          <div class="message-text-bar">
            <v-form validate-on="submit" @submit.prevent="sendMessage">
              <v-text-field
                label="Write your message here"
                hide-details="auto"
                v-model="messageText">
                <template v-slot:append>
                  <v-btn type="submit" class="button-send-message">
                    <svg-icon type="mdi" :path="pathSendIcon"></svg-icon>
                  </v-btn>
                </template>
              </v-text-field>
            </v-form>
          </div>
        </v-card-text>
      </v-card>
    </div>
  </Transition>
  <div v-if="showClosedBox" class="box box-closed">
    <v-card
      class="box-card"
      variant="tonal">
      <v-card-title class="box-title">
        <button v-on:click="openChatbox()" class="button-close-box">
          <div>
            FTSH Bot
          </div>
          <svg-icon type="mdi" :path="pathOpenIcon"></svg-icon>
        </button>
      </v-card-title>
    </v-card>
  </div>
</section>

